{% extends "notes/base.html" %}
{% load static %}
{% block content %}
<main class="container">
    <form method = "post">
        {% csrf_token %}
        <div>
            <h2 class="titulo_fun_fact">Adicione um Fun Fact!</h2>
        </div>
        <div class="bloco_facts">
            <p style="margin-right: 0.8rem;">Descrição</p>
            <textarea
            class="descricao"
            type="text"
            name="descricao"
            placeholder="descricao">
            </textarea>
            <button class="btn_fun_facts" type="submit">Submit</button>
        </div>
    </form>
    <div class="lista_fun_facts">
        {% if fun_facts %}
        <h1>Total de Funfacts: {{all_facts}}</h1>
        {% for fact in fun_facts %}
        <div class="itens">
            {{ fact.descricao }} ({{ fact.curtidas }})
            <form action="{% url 'like_fact' fact.id %}" method="post">
                {% csrf_token %}
                <button class="botao_curtir" type="submit">Curtir!</button>
            </form>
        </div>
        {% endfor %}
        {% else %}
            <p class="no-facts">Não há nenhum fato interessante cadastrado.</p>
        {% endif %}
    </div>
</main>
{% endblock %}
